 /* ie fix for tabs when arabic/hebrew characters used */
.x-tab-strip-text {
	background-position:0pt 3px;
	background-repeat:no-repeat;
	padding-right:20px;
}
.x-tab-strip { direction:rtl; }
.x-tab-left { direction:rtl; }
.ext-ie .x-tab-strip .x-tab-right{position:static;}

/*---- Header ---------------*/
#header { direction:rtl; }
.header-left { float: right; white-space: nowrap; }
.header-right { float: left; white-space: nowrap;}

/*------ Footer --------*/
.footer { direction:rtl; }
.footer-left { text-align: right; white-space: nowrap; }
.footer-right { text-align: left; white-space: nowrap; }

/*------ Toolbar --------*/
#mainToolbar {direction:rtl;}
.x-toolbar .x-btn-over .x-btn-left{background:url(../extjs/resources/images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 -21px;}
.x-toolbar .x-btn-over .x-btn-right{background:url(../extjs/resources/images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 0;}
.x-toolbar .x-btn-over .x-btn-center{background:url(../extjs/resources/images/default/toolbar/tb-btn-sprite.gif) repeat-x 0 -42px;}

/*------Content-panel---------*/
.x-panel-header {direction:rtl;}
#topic-content { direction: ltr;}
.x-panel-body.x-panel-body-noheader.x-panel-body-noborder {direction:rtl;}

/*-----------(Toc Index Search) panel-----------*/
.x-tool  {float: left;} 

/*--------TOC--------*/
#tree-panel {direction:rtl;}

/*-----------Tree arrows and elbows----------*/
.x-tree-arrows .x-tree-elbow{background:transparent;}
.x-tree-arrows .x-tree-elbow-plus{background:transparent url(../images/arrows-rtl.gif) no-repeat -48px 0;}
.x-tree-arrows .x-tree-elbow-minus{background:transparent url(../images/arrows-rtl.gif) no-repeat -30px 0;}
.x-tree-arrows .x-tree-elbow-end{background:transparent;}
.x-tree-arrows .x-tree-elbow-end-plus{background:transparent url(../images/arrows-rtl.gif) no-repeat -48px 0;}
.x-tree-arrows .x-tree-elbow-end-minus{background:transparent url(../images/arrows-rtl.gif) no-repeat -30px 0;}
.x-tree-arrows .x-tree-elbow-line{background:transparent;}
.x-tree-arrows .x-tree-ec-over .x-tree-elbow-plus{background-position: -16px 0;}
.x-tree-arrows .x-tree-ec-over .x-tree-elbow-minus{background-position: 2 0;}
.x-tree-arrows .x-tree-ec-over .x-tree-elbow-end-plus{background-position: -16px 0;}
.x-tree-arrows .x-tree-ec-over .x-tree-elbow-end-minus{background-position: 2 0;}

/*--------Index-----------*/
#index-panel {direction:rtl;}
.indexheading { text-align: right; }
.indexlink { text-align: right; }
.index1  { text-align: right; }
	   
/*-------------Search panel------------*/
#extSearchResultsPanel {direction:rtl;}

/*--Match partial words checkbox--*/
.checkbox-text { margin-left: 0px; margin-right: 3px; }
/*-IE-*/
* html .checkbox-text { margin-left: 0px; margin-right: 0px;} 





